# Ignorar todos los archivos objeto
*.o
*.lo
*.obj

# Ignorar ejecutables y binarios
*.exe
*.out
*.bin
*.elf


# (Opcional) Imágenes de disco que generas con QEMU/VM
*.img
*.vmdk
*.qcow2

*.sys
*.gdbinit
.gdb_history
.bash_history